In [12]:
# import necessary packages
import pandas as pd
from datetime import datetime as dt
from time import strptime
import datetime

In [13]:
#csv file
j = pd.read_csv('storm_data_AlleghanycountyPittsburgh_results.csv', parse_dates = True, header = 0)

In [14]:
#Analyzing columns
j.columns

Index(['EVENT_ID', 'CZ_NAME_STR', 'BEGIN_LOCATION', 'BEGIN_DATE', 'BEGIN_TIME',
       'EVENT_TYPE', 'MAGNITUDE', 'TOR_F_SCALE', 'DEATHS_DIRECT',
       'INJURIES_DIRECT', 'DAMAGE_PROPERTY_NUM', 'DAMAGE_CROPS_NUM',
       'STATE_ABBR', 'CZ_TIMEZONE', 'MAGNITUDE_TYPE', 'EPISODE_ID', 'CZ_TYPE',
       'CZ_FIPS', 'WFO', 'INJURIES_INDIRECT', 'DEATHS_INDIRECT', 'SOURCE',
       'FLOOD_CAUSE', 'TOR_LENGTH', 'TOR_WIDTH', 'BEGIN_RANGE',
       'BEGIN_AZIMUTH', 'END_RANGE', 'END_AZIMUTH', 'END_LOCATION',
       'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON', 'EVENT_NARRATIVE',
       'EPISODE_NARRATIVE', 'ABSOLUTE_ROWNUMBER'],
      dtype='object')

In [15]:
j['EVENT_TYPE'].value_counts()

Thunderstorm Wind    124
Flash Flood          119
Hail                  42
Flood                 35
Heavy Rain            14
Winter Weather         6
Strong Wind            3
Cold/Wind Chill        2
Heavy Snow             2
Winter Storm           2
Debris Flow            1
Ice Storm              1
Tornado                1
Lightning              1
Name: EVENT_TYPE, dtype: int64

In [16]:
j.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353 entries, 0 to 352
Data columns (total 37 columns):
EVENT_ID               353 non-null int64
CZ_NAME_STR            353 non-null object
BEGIN_LOCATION         353 non-null object
BEGIN_DATE             353 non-null object
BEGIN_TIME             353 non-null int64
EVENT_TYPE             353 non-null object
MAGNITUDE              353 non-null object
TOR_F_SCALE            353 non-null object
DEATHS_DIRECT          353 non-null int64
INJURIES_DIRECT        353 non-null int64
DAMAGE_PROPERTY_NUM    353 non-null int64
DAMAGE_CROPS_NUM       353 non-null int64
STATE_ABBR             353 non-null object
CZ_TIMEZONE            353 non-null object
MAGNITUDE_TYPE         353 non-null object
EPISODE_ID             353 non-null int64
CZ_TYPE                353 non-null object
CZ_FIPS                353 non-null int64
WFO                    353 non-null object
INJURIES_INDIRECT      353 non-null int64
DEATHS_INDIRECT        353 non-null int64
SOURCE                 353 non-null object
FLOOD_CAUSE            353 non-null object
TOR_LENGTH             353 non-null object
TOR_WIDTH              353 non-null object
BEGIN_RANGE            353 non-null object
BEGIN_AZIMUTH          353 non-null object
END_RANGE              353 non-null object
END_AZIMUTH            353 non-null object
END_LOCATION           353 non-null object
BEGIN_LAT              353 non-null object
BEGIN_LON              353 non-null object
END_LAT                353 non-null object
END_LON                353 non-null object
EVENT_NARRATIVE        306 non-null object
EPISODE_NARRATIVE      353 non-null object
ABSOLUTE_ROWNUMBER     353 non-null int64
dtypes: int64(11), object(26)
memory usage: 102.1+ KB

In [17]:
#Since time is in 24 hr integer format, I am first covering it as string
j["time"] = j["BEGIN_TIME"].astype(str)

In [22]:
# Create a function to convert 3 digit strings to 4 digit strings and place ":" after 2 digits
def zst(i):
    i = i.zfill(4)
    h = i[:2] + ":" +i[2:]
    return h
    
j["t"]   = j.time.map(zst)

In [23]:
#Converting string format of time to datetime object
dts = [datetime.datetime.strptime(elem, '%m/%d/%Y %H:%M') 
       for elem in j['BEGIN_DATE'] + " "+j['t']]

fmted = [elem.strftime('%Y-%m-%d %H:%M:%S') for elem in dts]

j.insert(0, 'DateTime', fmted)

ValueError: cannot insert DateTime, already exists

In [24]:
j.tail(2)

,DateTime,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,EVENT_TYPE,MAGNITUDE,TOR_F_SCALE,DEATHS_DIRECT,...,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,ABSOLUTE_ROWNUMBER,time,t
351,2018-10-04 17:30:00,788791,ALLEGHENY CO.,MUNHALL,10/04/2018,1730,Flash Flood,,,0,...,MUNHALL,40.39,-79.93,40.3872,-79.9306,County 911 officials reported a large landslid...,A cold front dropped across Pennsylvania durin...,352,1730,17:30
352,2018-11-14 14:47:00,794367,ALLEGHENY (ZONE),,11/14/2018,1447,Winter Weather,,,0,...,,,,,,The NWS Pittsburgh office has light icing in p...,Cold surface temperatures were already in plac...,353,1447,14:47

In [25]:
# I don't need other datafields and I have selected only the necessary columns
k = j[["DateTime","EVENT_TYPE","BEGIN_DATE"]]

In [26]:
#Analyzing first few rows 
k.head()

              DateTime         EVENT_TYPE  BEGIN_DATE
0  2015-04-09 16:59:00  Thunderstorm Wind  04/09/2015
1  2015-04-09 17:05:00  Thunderstorm Wind  04/09/2015
2  2015-04-09 17:07:00  Thunderstorm Wind  04/09/2015
3  2015-04-09 17:13:00  Thunderstorm Wind  04/09/2015
4  2015-04-09 17:15:00  Thunderstorm Wind  04/09/2015

In [84]:
#Exporting it as csv file
k.to_csv("Pi_storm.csv",index = 0)